/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #ff4d4d;
  color: #fff;
  text-align: center;
  padding: 40px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  max-width: 1000px; 
  margin: auto; 

  background-color: #ff6666;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.card {
  background-color: #e74c3c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 20px;
}


#timer-label, #time-left {
  font-size: 4rem;
  margin: 20px 0;
}

button {
  background-color: #fff;
  color: #ff4d4d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f1f1f1;
}

button:focus {
  outline: none;
}

#reset, #start_stop {
  font-size: 1.2rem;
  padding: 15px 30px;
}

.label-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.control-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#break-length, #session-length {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

audio {
  display: none;
}
